# Network ports used by BlueSky
event_port=11000
stream_port=11001
simevent_port=12000
simstream_port=12001

# Select the performance model. options: 'openap', 'bada', 'legacy'
performance_model = 'openap'

# Verbose internal logging
verbose = True

# Indicate the logfile path
log_path = 'output'

# Indicate the scenario path
scenario_path = 'scenario'

# Indicate the graphics data path
gfx_path = 'graphics'

# Indicate the path for cache data
cache_path = 'cache'

# Indicate the path for navigation data
navdata_path = 'navdata'

# Indicate the path for the aircraft performance data
perf_path = 'performance'

# Indicate the path for the BADA aircraft performance data (leave empty if BADA is not available)
perf_path_bada = 'performance/BADA'

# Indicate the plugins path
plugin_path = 'plugins'

# Specify a list of plugins that need to be enabled by default
enabled_plugins = ['area', 'datafeed', 'c2c_traffic_receiver', 'c2c_ownstate_receiver', 'c2c_geofence_receiver', 'ssd_drone', 'c2c_traffic_publisher', 'health_monitor']

# C2C specific debugging options
DAA_profiling = False       # DAA timing debugging
c2c_enable_mqtt = True      # Needed for easier debugging, should always be true

# C2C specific settings
avoid_ownship_only = True   # Only send avoidance requests to ownship (True) or all traffic (False)
avoidance_request_publish_interval = 1.9     # Time between avoidance requests for the same ownship [seconds]
conflict_detection_publish_interval = 1.9    # Time between publishing conflict detection messages for the same ownship [seconds]
ARV_speed_buffer = 1.0      # Keep resolution velocity within +- ARV_speed_buffer if possible [m/s]
DAA_radius = 2.0            # Radius around the ownship in which we consider other aircraft/drones for conflict detection [nm]
system_delay = 5.0          # Assumed delay of the entire system. Drone state is extrapolated into the future by this amount [s]

# Indicate the start location of the radar screen (e.g. [lat, lon], or airport ICAO code)
start_location = 'EHVB'

# Simulation timestep [seconds]
simdt = 0.05

# Performance timestep [seconds]
performance_dt = 1.0

# FMS timestep [seconds]
fms_dt = 1.0

# Prefer compiled BlueSky modules (cgeo, casas)
prefer_compiled = True

# Limit the max number of cpu nodes for parallel simulation
max_nnodes = 999

#=========================================================================
#=  ASAS default settings
#=========================================================================

# ASAS lookahead time [sec]
# DAA lookahead times
asas_dtlookahead = 15.0 # conflict resolution lookahead time
conflict_detection_dtlookahead = 30.0 # conflict detection lookahead time, should be larger than asas_dtlookahead

# ASAS update interval [sec]
asas_dt = 1.0

# ASAS horizontal PZ margin [nm]
asas_pzr = 0.0269978402 # 50m seperation

# ASAS vertical PZ margin [ft]
asas_pzh = 5000.0 # for VB safesky test

# ASAS factors applied on protected zone for resolution horizontally and vertically [-]
asas_marh = 1.05
asas_marv = 1.05
#=============================================================================
#=   QTGL Gui specific settings below
#=   Pygame Gui options in graphics/scr_cfg.dat
#=============================================================================

# Radarscreen font size in pixels
text_size = 13

# Radarscreen airport symbol size in pixels
apt_size = 10

# Radarscreen waypoint symbol size in pixels
wpt_size = 10

# Radarscreen aircraft symbol size in pixels
ac_size = 16

# Stack and command line text color
stack_text_color = 0, 255, 0

# Stack and command line background color
stack_background_color = 102, 102, 102
